asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
conda==4.5.3
cryptography>=2.3
idna==2.6
menuinst==1.4.11
pkginfo==1.4.2
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
PySide2==5.9.0a1.dev1528204400
PySocks==1.6.8
pywin32==223
requests
requests-toolbelt==0.8.0
ruamel-yaml==0.15.35
selenium==3.12.0
six==1.11.0
SQLAlchemy==1.2.8
tqdm==4.23.4
twine==1.11.0
urllib3
win-inet-pton==1.0.1
wincertstore==0.2
